<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.admin.mapper.AdminPaymentMapper">

    <sql id="where-list">
        <if test="schType == 'all'">
            (INSTR(u.USERID, #{kwd}) &gt; 0 OR INSTR(p.MERCHANTUID, #{kwd}) &gt; 0)
        </if>
        <if test="schType == 'userId'">
            INSTR(u.USERID, #{kwd}) &gt; 0
        </if>
        <if test="schType == 'orderId'">
            INSTR(p.MERCHANTUID, #{kwd}) &gt; 0
        </if>
    </sql>

    <select id="dataCount" parameterType="map" resultType="Integer">
        SELECT NVL(COUNT(*), 0)
        FROM PAYMENT p
        JOIN USERS u ON p.USERIDX = u.USERIDX
        <where>
            <if test="kwd != null and kwd != ''">
                <include refid="where-list"/>
            </if>
            <if test="status != null and status != ''">
                AND p.PAYSTATUS = #{status}
            </if>
        </where>
    </select>

    <select id="listPayment" parameterType="map" resultType="map">
        SELECT p.PAYMENTIDX as "paymentIdx", 
               p.MERCHANTUID as "merchantUid", 
               u.USERID as "userId", 
               u.NICKNAME as "nickname", 
               p.PAYMETHOD as "payMethod", 
               p.CHARGEAMOUNT as "chargeAmount", 
               TO_CHAR(p.PAIDAT, 'YYYY-MM-DD HH24:MI') as "paidAt", 
               p.PAYSTATUS as "payStatus"
        FROM PAYMENT p
        JOIN USERS u ON p.USERIDX = u.USERIDX
        <where>
            <if test="kwd != null and kwd != ''">
                <include refid="where-list"/>
            </if>
            <if test="status != null and status != ''">
                AND p.PAYSTATUS = #{status}
            </if>
        </where>
        ORDER BY p.PAIDAT DESC
        OFFSET #{offset} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>


    <select id="getPaymentDetail" parameterType="Long" resultType="map">
        SELECT p.PAYMENTIDX    AS "paymentIdx",
               p.MERCHANTUID   AS "merchantUid",
               u.USERID        AS "userId",
               u.NICKNAME      AS "nickname",
               u.EMAIL         AS "email",
               u.BATONPOINT    AS "batonpoint",
               p.PAYMETHOD     AS "payMethod",
               p.CHARGEAMOUNT  AS "chargeAmount",
               TO_CHAR(p.PAIDAT, 'YYYY-MM-DD HH24:MI:SS') AS "paidAt",
               p.PAYSTATUS     AS "payStatus",
               p.IMPUID        AS "impUid"
        FROM PAYMENT p
        JOIN USERS u ON p.USERIDX = u.USERIDX
        WHERE p.PAYMENTIDX = #{paymentIdx}
    </select>

</mapper>