<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.JobProfileMapper">

<insert id="insertJobProfile" parameterType="com.sp.app.model.JobProfile">
    <selectKey keyProperty="profileIdx" resultType="long" order="BEFORE">
        SELECT seq_job_profile.NEXTVAL FROM dual
    </selectKey>

    INSERT INTO JOBPROFILE (
        PROFILEIDX,
        USERIDX,
        PROFILETITLE,
        INTRODUCTION,
        NAME,
        TEL,
        EMAIL,
        GENDER,
        BIRTH,
        STRENGTHS,
        ADDITIONALINFO,
        PROFILESTATUS,
        ISDEFAULT,
        ISPUBLIC,
        CREATEDDATE,
        UPDATEDDATE
    ) VALUES (
        #{profileIdx},
        #{userIdx},
        #{title},
        #{introduce, jdbcType=CLOB},
        #{userName},
        #{phone},
        #{email},
        #{gender},
        #{birth},
        #{strengths},
        #{additionalInfo},
        1,
        'N',
        'Y',
        SYSDATE,
        SYSDATE
    )
</insert>


</mapper>