<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.TradingReviewsMapper">

	<delete id="deleteReview" parameterType="map">
	    DELETE FROM TRADINGREVIEWS 
	    WHERE REVIEWIDX = #{reviewIdx} AND USERIDX = #{userIdx}
	</delete>
	
	<update id="hideReview" parameterType="map">
	    UPDATE TRADINGREVIEWS SET ISHIDDEN = 1
	    WHERE REVIEWIDX = #{reviewIdx} AND USERIDX = #{userIdx}
	</update>

    <select id="listReviews" parameterType="map" resultType="com.sp.app.model.TradingReviews">
        SELECT 
            R.REVIEWIDX, R.SALEREVIEWTYPE, R.CONTENT, R.REVIEWTAGS,
            TO_CHAR(R.CREATEDDATE, 'YYYY-MM-DD HH24:MI') AS createdDate,
            R.CREATEDDATE AS rawCreatedDate, 
            R.SCORE, R.USERIDX, R.PRODUCTIDX,
            U.NICKNAME AS writerNickname,
            U.PROFILE_PHOTO AS profilePhoto,
            U.ADDR AS writerAddr,
            P.TITLE AS productTitle
        FROM TRADINGREVIEWS R
        LEFT JOIN USERS U ON R.USERIDX = U.USERIDX 
        LEFT JOIN PRODUCT P ON R.PRODUCTIDX = P.PRODUCTIDX 
        <where>
            R.ISHIDDEN = 0
            <choose>
                <when test="type == 'BUYER'">
                    AND R.SALEREVIEWTYPE = 'BUYER'
                </when>
                <when test="type == 'SELLER'">
                    AND R.SALEREVIEWTYPE = 'SELLER'
                </when>
                <when test="type == 'ME'">
                    AND R.USERIDX = #{userIdx}
                </when>
            </choose>
        </where>
        ORDER BY R.REVIEWIDX DESC
    </select>

    <select id="getReviewCount" resultType="int">
        SELECT COUNT(*) 
        FROM TRADINGREVIEWS 
        WHERE ISHIDDEN = 0
    </select>

    <insert id="insertReview" parameterType="com.sp.app.model.TradingReviews">
        INSERT INTO TRADINGREVIEWS (
            REVIEWIDX, SALEREVIEWTYPE, CONTENT, USERIDX, PRODUCTIDX, SCORE, REVIEWTAGS
        ) VALUES (
            SEQTRADINGREVIEWS.NEXTVAL, #{saleReviewType}, #{content}, #{userIdx}, #{productIdx}, #{score}, #{reviewTags}
        )
    </insert>

    <select id="getTradeTargetInfo" parameterType="map" resultType="map">
        SELECT 
            <choose>
                <when test="role == 'BUYER'">
                    t.SELLERIDX as TARGET_USERIDX,
                    u.NICKNAME as TARGET_NICKNAME
                </when>
                <otherwise>
                    t.BUYERIDX as TARGET_USERIDX,
                    u.NICKNAME as TARGET_NICKNAME
                </otherwise>
            </choose>
        FROM TRADETRANSACTION t
        JOIN USERS u ON u.USERIDX = 
            <choose>
                <when test="role == 'BUYER'">t.SELLERIDX</when>
                <otherwise>t.BUYERIDX</otherwise>
            </choose>
        WHERE t.PRODUCTIDX = #{productIdx}
    </select>

</mapper>