<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.TradeMapper">
	<insert id="insertTradePost" parameterType="com.sp.app.model.Trade">
		INSERT INTO product(productIdx, title, content, price, userIdx, tradeType, 
			tradePlace, regionIdx, productStatus, categoryIdx)
		VALUES(seq_product.NEXTVAL, #{title, jdbcType=VARCHAR}, #{content, jdbcType=VARCHAR}, #{price}, 1, #{tradeType, jdbcType=VARCHAR},
			#{tradePlace, jdbcType=VARCHAR}, 1, #{productStatus, jdbcType=VARCHAR}, 1)
	</insert>
	
	<select id="findByIdx" parameterType="long" resultType="com.sp.app.model.Trade">
		SELECT productIdx, title, content, price, p.userIdx, hitCount, likeCount, chatCount,
			tradeType, tradeStatus, tradePlace, p.regionIdx, productStatus, pullCount, 
			lastUpDate, p.createdDate, p.updatedDate, categoryIdx, u.nickName
		FROM product p
		JOIN users u ON p.userIdx = u.userIdx
		WHERE productIdx = #{productIdx}
	</select>
	
	<select id="findImagesByIdx" parameterType="long" resultType="com.sp.app.model.TradeImg">
		SELECT imgOrder, productIdx, imgUrl
	    FROM productImages
	    WHERE productIdx = #{productIdx}
	    ORDER BY imgOrder ASC
	</select>
	
	<select id="findTagsByIdx" parameterType="long" resultType="String">
		SELECT t.tagName
	    FROM productTag p
	    JOIN tag t ON p.tagIdx = t.tagIdx
	    WHERE p.productIdx = #{productIdx}
	</select>
	
	<select id="tradeList" parameterType="map" resultType="com.sp.app.model.Trade">
	    SELECT * FROM (
	        SELECT ROWNUM rnum, tb.* FROM (
	            SELECT 
	                p.productIdx, p.title, p.price, p.userIdx, p.hitCount, p.likeCount, p.chatCount,
	                p.tradeType, p.tradeStatus, p.productStatus, p.createdDate,
	                (SELECT imgUrl FROM productImages WHERE productIdx = p.productIdx AND imgOrder = 1) as thumbUrl
	            FROM product p
	            <where>
	                <if test="keyword != null and keyword != ''">
	                    AND (p.title LIKE '%' || #{keyword} || '%' OR p.content LIKE '%' || #{keyword} || '%')
	                </if>
	                <if test="categoryIdx != null and categoryIdx != ''">
	                    AND p.categoryIdx = #{categoryIdx}
	                </if>
	            </where>
	            ORDER BY p.productIdx DESC
	        ) tb WHERE ROWNUM &lt;= #{end}
	    ) WHERE rnum &gt;= #{start}
	</select>
	
	<select id="dataCount" parameterType="map" resultType="int">
	    SELECT COUNT(*) FROM product
	    <where>
	        <if test="keyword != null and keyword != ''">
	            AND (title LIKE '%' || #{keyword} || '%' OR content LIKE '%' || #{keyword} || '%')
	        </if>
	        <if test="categoryIdx != null and categoryIdx != ''">
	            AND categoryIdx = #{categoryIdx}
	        </if>
	    </where>
	</select>
	
	<delete id="deleteTradePost" parameterType="long">
		DELETE FROM product WHERE productIdx = #{productIdx}
	</delete>
	
	<delete id="deleteTradePostTag" parameterType="long">
		DELETE FROM productTag WHERE productIdx = #{productIdx}
	</delete>
	
	<delete id="deleteTragePostImg" parameterType="long">
		DELETE FROM productImages WHERE productIdx = #{productIdx}
	</delete>
</mapper>