<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.TradeMapper">

	<sql id="where-condition">
		<where>
			p.tradeStatus NOT IN ('숨기기', '임시저장')
			
			<if test="available == 'true'">
				AND p.tradeStatus NOT IN ('판매완료', '예약중')
			</if>
			
			<if test="priceMin != null and priceMin != ''">
				AND p.price &gt;= #{priceMin}
			</if>
			
			<if test="priceMax != null and priceMax != ''">
				AND p.price &lt;= #{priceMax}
			</if>
		
			<if test="userRegionIdx != null">
				AND p.regionIdx = #{userRegionIdx}
			</if>
			
			<if test="keyword != null and keyword != ''">
				AND (
					p.title LIKE '%' || #{keyword} || '%' 
					OR p.content LIKE '%' || #{keyword} || '%'
					OR EXISTS (
						SELECT 1 FROM productTag pt
						JOIN tag t ON pt.tagIdx = t.tagIdx
						WHERE pt.productIdx = p.productIdx AND t.tagName = #{keyword}
					)
				)
			</if>
			
			<if test="categoryIdx != null and categoryIdx != ''">
				AND p.categoryIdx = #{categoryIdx}
			</if>
		</where>
	</sql>

	<insert id="insertTradePost" parameterType="com.sp.app.model.Trade">
		<selectKey keyProperty="productIdx" resultType="long" order="BEFORE">
	        SELECT seq_product.NEXTVAL FROM DUAL
	    </selectKey>
		INSERT INTO product(productIdx, title, content, price, shippingFee, userIdx, tradeStatus, tradeType, 
			tradePlace, latitude, longitude, regionIdx, productStatus, categoryIdx)
		VALUES(#{productIdx}, #{title, jdbcType=VARCHAR}, #{content, jdbcType=VARCHAR}, #{price}, #{shippingFee}, #{userIdx}, #{tradeStatus, jdbcType=VARCHAR}, #{tradeType, jdbcType=VARCHAR},
			#{tradePlace, jdbcType=VARCHAR}, #{latitude}, #{longitude}, 
			#{regionIdx}, #{productStatus, jdbcType=VARCHAR}, #{categoryIdx, jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertTradePostImg" parameterType="com.sp.app.model.TradeImg">
        INSERT INTO productImages (
            productIdx, imgOrder, originalName, saveName, imgUrl
        ) VALUES (
            #{productIdx}, #{imgOrder}, #{originalName}, #{saveName}, #{imgUrl}
        )
    </insert>
    
    <insert id="insertTradePostTag" parameterType="map">
    	INSERT INTO productTag (productIdx, tagIdx)
    	VALUES (#{productIdx}, #{tagIdx})
    </insert>
    
	<insert id="insertTradeTag" parameterType="com.sp.app.model.Trade">
	    <selectKey keyProperty="tagIdx" resultType="long" order="BEFORE">
	        SELECT seq_tag.NEXTVAL FROM DUAL
	    </selectKey>
	    INSERT INTO tag (tagIdx, tagName) VALUES (#{tagIdx}, #{tagName})
	</insert>
	
	<select id="findByIdx" parameterType="long" resultType="com.sp.app.model.Trade">
		SELECT 
	        p.productIdx, p.title, p.content, p.price, p.shippingFee, 
	        p.userIdx, p.hitCount, p.likeCount, p.chatCount,
	        p.tradeType, p.tradeStatus, p.tradePlace, 
	        p.latitude, p.longitude, p.regionIdx, p.productStatus, p.pullCount, 
	        p.lastUpDate, p.createdDate, p.updatedDate, 
	        p.categoryIdx, u.nickName
	    FROM product p
	    JOIN users u ON p.userIdx = u.userIdx
	    WHERE p.productIdx = #{productIdx}
	    ORDER BY p.lastUpDate DESC
	</select>
	
	<select id="findByUserIdx" parameterType="map" resultType="com.sp.app.model.Trade">
		SELECT * FROM product 
		WHERE userIdx = #{userIdx} 
		<choose>
			<when test="loginUserIdx != null and userIdx == loginUserIdx">
				AND (tradeStatus != '임시저장')
			</when>
			<otherwise>
				AND tradeStatus IN ('판매완료', '판매중', '예약중')
			</otherwise>
		</choose>
		ORDER BY lastUpDate DESC
	</select>
	
	<select id="findTempTradeByUserIdx" parameterType="long" resultType="com.sp.app.model.Trade">
		SELECT * FROM (
			SELECT * FROM product 
			WHERE userIdx = #{userIdx} AND tradeStatus = '임시저장'
			ORDER BY updatedDate DESC
		) WHERE ROWNUM = 1
	</select>
	
	<select id="findImagesByIdx" parameterType="long" resultType="com.sp.app.model.TradeImg">
		SELECT productIdx, imgOrder, originalName, saveName, imgUrl
        FROM productImages
        WHERE productIdx = #{productIdx}
        ORDER BY imgOrder ASC
	</select>
	
	<select id="findTagsByIdx" parameterType="long" resultType="String">
		SELECT t.tagName
	    FROM productTag p
	    JOIN tag t ON p.tagIdx = t.tagIdx
	    WHERE p.productIdx = #{productIdx}
	</select>
	
	<select id="findTagIdxByName" parameterType="String" resultType="Long">
	    SELECT tagIdx FROM tag WHERE tagName = #{tagName}
	</select>
	
	<select id="tradeList" parameterType="map" resultType="com.sp.app.model.Trade">
	    SELECT * FROM (
	        SELECT ROWNUM rnum, tb.* FROM (
	            SELECT 
	                p.productIdx, p.title, p.price, p.userIdx, p.tradePlace,
	                p.tradeType, p.tradeStatus, p.productStatus, p.createdDate, p.lastUpDate, p.updatedDate, p.hitCount, p.likeCount, p.chatCount, 
	                (SELECT imgUrl FROM productImages WHERE productIdx = p.productIdx AND imgOrder = 1) as imgUrl,
	                
	                <choose>
	                    <when test="userIdx != null">
	                        (SELECT COUNT(*) FROM wishList WHERE productIdx = p.productIdx AND userIdx = #{userIdx})
	                    </when>
	                    <otherwise>0</otherwise>
	                </choose> as isLiked
	                
	            FROM product p
	            
	            <include refid="where-condition"/>
	            <choose>
	                <when test="sort == 'lowPrice'">
	                    ORDER BY p.price ASC
	                </when>
	                <when test="sort == 'highPrice'">
	                    ORDER BY p.price DESC
	                </when>
	                <when test="sort == 'hitCount'">
	                    ORDER BY p.hitCount DESC
	                </when>
	                <otherwise>
	                    ORDER BY p.lastUpDate DESC, p.productIdx DESC
					</otherwise>
	            </choose>
	        ) tb WHERE ROWNUM &lt;= #{end}
	    ) WHERE rnum &gt;= #{start}
	</select>
	
	<select id="CategoryList" resultType="map">
	    SELECT categoryIdx, categoryName 
	    FROM category 
	    ORDER BY categoryIdx ASC
	</select>
	
	<select id="dataCount" parameterType="map" resultType="int">
	    SELECT COUNT(*) 
	    FROM product p
	    <include refid="where-condition"/>
	</select>
	
	<update id="updateHitCount">
		UPDATE product SET hitCount = hitCount + 1 WHERE productIdx = #{productIdx}
	</update>
	
	<update id="updateTradePost">
		UPDATE product SET title = #{title}, content = #{content}, price = #{price}, shippingFee = #{shippingFee},
			tradeStatus = #{tradeStatus}, tradeType = #{tradeType}, tradePlace = #{tradePlace},
			latitude = #{latitude}, longitude = #{longitude}, productStatus = #{productStatus},
			categoryIdx = #{categoryIdx}, updatedDate = SYSDATE
		WHERE productIdx = #{productIdx}
	</update>
	
	<update id="updateTradePostTag">
		UPDATE product SET tagIdx = #{tagIdx} WHERE productIdx = #{productIdx}
	</update>
	
	<update id="updateTradeStatus">
		UPDATE product SET tradeStatus = #{tradeStatus} WHERE productIdx = #{productIdx}
	</update>
	
	<select id="findLastUpDateByProductIdx" resultType="String">
		SELECT TO_CHAR(lastUpDate, 'YYYY-MM-DD HH24:MI:SS') as lastUpDate FROM product WHERE productIdx = #{productIdx}
	</select>
	
	<update id="updateLastUpDate">
		UPDATE product SET lastUpDate = SYSDATE WHERE productIdx = #{productIdx}
	</update>
	
	<update id="updatePullCount">
		UPDATE product SET pullCount = pullCount + 1 WHERE productIdx = #{productIdx}
	</update>
	
	<select id="findSaveName" parameterType="map" resultType="String">
        SELECT saveName 
        FROM productImages 
        WHERE productIdx = #{productIdx} AND imgOrder = #{imgOrder}
    </select>

    <select id="getLastOrder" parameterType="long" resultType="int">
        SELECT NVL(MAX(imgOrder), 0) 
        FROM productImages 
        WHERE productIdx = #{productIdx}
    </select>

	<delete id="deleteTradePost" parameterType="long">
		DELETE FROM product WHERE productIdx = #{productIdx}
	</delete>
	
	<delete id="deleteTradePostTag" parameterType="long">
		DELETE FROM productTag WHERE productIdx = #{productIdx}
	</delete>
	
	<delete id="deleteTradePostImg" parameterType="map">
        DELETE FROM productImages
        WHERE productIdx = #{productIdx} AND imgOrder = #{imgOrder}
    </delete>
	
	<delete id="deleteTradePostImgAll" parameterType="long">
		DELETE FROM productImages WHERE productIdx = #{productIdx}
	</delete>
	
</mapper>